@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1, h2, h3, h4, h5 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 0;
    line-height: 1;
}    

h4 {
    font-size: 32px;
    margin-bottom: 16px;
}

