.header {
    background-color: #fff;
    color: #66190E;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
}
