.logoTitle {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 1;
    padding-top: 4px;
}
